@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-35px);
  }
}

.animate-custom-bounce {
  animation: custom-bounce 1.3s infinite; /* Adjust duration here */
}
